body{
  background-color: #ECECEC;
  margin:0;
  padding:0;
  overflow-x: auto;
}
div{
  border-width: 2px;
  border-color: #DCDAD8;
  background: #EEEEEE;
}
.main{
  height: 100vh;
  opacity: 1;
  border-color: #DCDAD8;
}
.function_bar{
  position: absolute;
  border-style: groove;
  height:121px;
  width:31.5%;
}

.div3{
  position: absolute;
  border-style: groove;
  height:50px;
  width:68.8%;
  margin-left: 31.4%;
}

.div4{
  position: absolute;
  border-style: groove;
  float: left;
  height:100vh;
  width:31.5%;
  margin-top: 119px;
}
.main_window{
  position: absolute;
  border-style: groove;
  height: 100vh;
  width:68.8%;
  margin-left: 31.4%;
  margin-top: 49px;
  background-color: #DCDAD8;
}
.newpost_btn{
   postion:fixed;
   float:right;
   margin-right:10px;
 }
.row {
  position: absolute;
  bottom:2px;
  width: 95%;
  left: 8%;
}

.search_btn{
  position: fixed;
  color: black;
  margin-top: -40px;
  margin-left: 255px;
}
.newpost{
  visibility: hidden;
  position: absolute;
  height: 350px;
  width: 35%;
  border-radius: 3px;
  z-index: 1;
  transform: translate(-50%, -50%);
  background-color: #e2e2e2;
}
.material-icons{
  position:absolute;
  top:5px;
}
.newpost_sign{
  position: absolute;
  left: 50px;
  top:5px;
  font-size:25px;
  font-family:Comic Sans MS, cursive, sans-serif;
}
.topic_sign{
  position:absolute;
  top:50px;
  left: 5px;
  font-size:15px;
  font-family:Comic Sans MS, cursive, sans-serif;
}
.newpost .topic_input{
  position: absolute;
  top:70px;
  left: 5px;
  width:300px;
  postion: absolute;
}
.content_sign{
  position: absolute;
  font-size: 15px;
  top:110px;
  left:5px;
  font-family:Comic Sans MS, cursive, sans-serif;
}
.newpost .cotent_input{
  position: absolute;
  top:130px;
  left: 5px;
  width:300px;
  height:130px;
  outline-width: 0;
  overflow-x: hidden;
}
.newpost .closebtn{
  position: absolute;
  top:-30px;
  left: 290px;
  font-size: 40px;
}
.newpost .post_photo_upload_btn{
  position: absolute;
  top:270px;
  left:190px;
  width: 115px;
  font-size: 12px;
  font-family:'Comic Sans MS', cursive, sans-serif;
}
.newpost .post_submit_btn{
  position: absolute;
  top:300px;
  left:190px;
  width: 115px;
  font-size: 12px;
  font-family:'Comic Sans MS', cursive, sans-serif;
}
.function {
  position: fixed;
  width: 950px;
  top: 50%;
  left: 50%
}
.search {
  border-radius: 3px;
  height: 60px; /* 100% Full-height */
  width: 50%;
  position: absolute; /* Stay in place */
  z-index: 1; /* Stay on top */
  transform: translate(-50%, -50%);
  background-color: #EEEEEE; /* Black*/
  visibility: hidden;
}
.search_input{
  border-radius: 3px;
  height: 53px; /* 100% Full-height */
  width: 100%; /* 0 width - change this with JavaScript */
  font-size: 49px;
  background-color: #EEEEEE;
  outline-width: 0;
  position: absolute;
}
.search_input::placeholder {
  position: absolute;
  font-size: 20px;
  margin-top: 40px;
}
.login {
  position: absolute; /* Stay in place */
  height:200px; /* 100% Full-height */
  width: 251px; /* 0 width - change this with JavaScript */
  border-radius: 3px;
  z-index: 1;
  background-color: #e2e2e2;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.forgetpw{
  position: absolute;
  top:125px;
  left:130px;
}
.login .new_account_btn{
  position: absolute;
  top:160px;
  left:10px;
  width:90px;
  border-radius: 1px;
  font-size: 12px;
  outline-width: 0;
  font-family:Comic Sans MS, cursive, sans-serif;
}
.login .login_btn{
  position: absolute;
  width:90px;
  top: 160px;
  left: 150px;
  border-radius: 1px;
  font-size: 12px;
  outline-width: 0;
  font-family:Comic Sans MS, cursive, sans-serif;
}
.login a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
.closebtn:hover {
  color: #f1f1f1;
}
.login .closebtn {
  position: absolute;
  top: -15px;
  right: -4px;
  font-size: 40px;
}
.login_icon{
  position: absolute;
  top:10px;
  left: 5px;
}
.login_email_input{
  position: absolute;
  top:60px;
  left: 7px;
  width: 232px;
  border-radius: 3px;
  outline-width: 0;
}
.login_password_input{
  position: absolute;
  top:100px;
  left: 7px;
  width: 232px;
  border-radius: 3px;
  outline-width: 0;
}
/*
  150% or smaller
*/

@media (min-width: 1025px) {
  .div1{
    margin: auto;
    width: 950px;
  }
  .main{
    position: fixed;
    width: 950px;
    opacity: 1;
  }
  .function{
    position:fixed;
    width:950px;
    top:50%;
    left:50%
  }
}
/*
  ##Device = Tablets, Ipads, large phone landscape
  ##Screen = B/w 768px to 1024px 150%-200%
*/
@media only screen and
(min-width: 768px)
and (max-width: 1024px)
{
  .div1{
    width:100%;
    height:100vh;
  }
  .main{
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .function{
    position:fixed;
    width: 100%;
  }
}
/*
  ##Device =  5s,6 6plus(landscape)
  ##Screen = B/w 375px to 479px
*/
@media only screen
and (min-device-width : 576px)
and (max-device-width: 767px)
{
  .function_bar{
    width:100%;
    height:12%;
    bottom: 0px;
    background-color: #ffe007;
    border-style:none;
  }
  .div4 {
    margin-top: 0px;
    width: 100%;
    height: 89%;
  }
  .newpost_btn{
    margin-right: 3%;
    margin-top:5px;
    height: 90%;
    background-color: #ffe007;
  }
  .row {
    width:90%;
    left:3%
  }
  .row .col-sm-3{
    background-color: #ffe007;
  }
}
/*
  ##Device =  (Portrait)
  ##Screen = B/w 375px to 479px
*/
@media only screen
and (max-device-width: 576px){
  .function_bar{
    width:100%;
    height:8%;
    bottom: 0px;
    background-color: #ffe007;
    border-style:none;
  }
  .div4 {
    margin-top: 0px;
    width: 100%;
    height: 93%;
  }
  .newpost_btn{
    margin-right: 3%;
    margin-top:3%;
    height: 90%;
    background-color: #ffe007;
  }
  .row {
    left:3%;
    height:90%;
    bottom: -15%;
    overflow-x: visible;
    width: 88%;
    background-color: #ffe007;
  }
  .row .col-sm-3{
    background-color: #ffe007;
    font-size: 20px;
    width: 25%;
  }
  .div3{
    visibility: hidden;
  }
  .main_window{
    visibility: hidden;
  }
}
/* small phone */
@media only screen
and (max-device-width: 372px){
  .function_bar{
    width:100%;
    height:8%;
    bottom: 0px;
    background-color: #ffe007;
    border-style:none;
  }
  .div4 {
    margin-top: 0px;
    width: 100%;
    height: 93%;
  }
  .newpost_btn{
    margin-right: 1.5%;
    margin-top:2%;
    height: 90%;
    background-color: #ffe007;
  }
  .row {
    left:3%;
    height:90%;
    bottom: -2%;
    overflow-x: visible;
    width: 88%;
    background-color: #ffe007;
  }
  .row .col-sm-3{
    background-color: #ffe007;
    font-size: 20px;
    width: 25%;
  }
  .div3{
    visibility: hidden;
  }
  .main_window{
    visibility: hidden;
  }
}

/* smaller phone landscape*/
@media only screen
and (max-device-height: 410px)
and (orientation: landscape){
  .function_bar{
    width:100%;
    height:14%;
    bottom: 0px;
    background-color: #ffe007;
    border-style:none;
  }
  .div4 {
    margin-top: 0px;
    width: 100%;
    height: 87%;
  }
  .newpost_btn{
    margin-right: 3%;
    margin-top:1%;
    height: 90%;
    background-color: #ffe007;
  }
  .row {
    left:3%;
    height:90%;
    bottom: -2%;
    overflow-x: visible;
    width: 88%;
    background-color: #ffe007;
  }
  .row .col-sm-3{
    background-color: #ffe007;
    font-size: 20px;
    width: 25%;
  }
  .div3{
    visibility: hidden;
  }
  .main_window{
    visibility: hidden;
  }
}


