body{
  background-color: #ECECEC;
}
h1{
  font-size: 50px;
  margin-left:10px;
  margin-top: 5px;
  font-family:'Comic Sans MS', cursive, sans-serif;
  position: absolute;
  font-weight: normal;
}
.div1{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
}
.closebtn{
  position: relative;
  float:right;
  font-size: 35px;
  margin-right: 4px;
  margin-top: -4px;
}
.icon{
  position:absolute;
  font-size:90px;
  margin-top: 80px;
  margin-left:20px;
}
form{
  position: absolute;
  margin-top: 16%;
  margin-left: 29%;
}
.register_btn{
  position: absolute;
  border-radius: 5px;
  margin-top: 80%;
  margin-left: 36%;
  font-family:'Comic Sans MS', cursive, sans-serif;
}
label{
  margin: auto;
  font-size: 15px;
  font-family:'Comic Sans MS', cursive, sans-serif;
}
label::placeholder{
  font-family:'Comic Sans MS', cursive, sans-serif;
}
input{
  position: static;
  margin-top: 2px;
  margin-left: 10%;
  border-radius: 5px;
}
.form-group{
  position: static;
  margin-top: 10px;
  margin-bottom: 0px;
}
.form-control{
  width: 90%;
  margin-left: 0px;

}
/*
  110% or smaller
*/

@media (min-width: 1281px) {
  .div1 {
    position: absolute;
    width: 600px;
    height: 540px;
  }
}

/*
  125% 150%
*/

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .div1 {
    position: absolute;
    width: 600px;
    background-color: #ffffff;
    height: 540px;
  }
}
/*
  175% - 500%
*/

@media  screen and
(min-width: 300px) and
(max-width: 1023px)
{
  body{
    background-color: white;
  }
  .div1 {
    top:50%;
    width: 70%;
    height: 100%;
    background-color: #ffffff;
  }
  h1{
    font-size: 30px;
  }
  .icon{
    font-size: 50px;
    top:5%;
  }
  label{
    font-size: 30px;
  }
  input{
    font-size: 30px;
    margin-top: 6px;
  }
  .register_btn {
    margin-top: 750px;
    font-size: 30px;
  }
  form{
    top:10%
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media only screen and
(min-width: 768px)
and (max-width: 1024px)
and (orientation : portrait){
  h1{
    font-size: 70px;
  }
  body{
    background-color: #ffffff;
  }
  .div1 {
    top:50%;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
  }
  .icon{
    top:90px;
    font-size: 200px;
 }
  .closebtn{
    float:right;
    font-size: 60px;
    margin-top: -10px;
    margin-right: 10px;
  }
  form{
    width: 700px;
  }
  label{
    font-size: 45px;
  }
  .form-control{
    font-size: 60px
  }
  .register_btn{
    margin-top: 1100px;
    font-size: 80px;
  }
}

/*
  ##Device =  6plus pixel x (Portrait)
  ##Screen = B/w 375px to 479px
*/
@media only screen
and (min-device-width : 400px)
and (max-device-width : 414px)
and (orientation : portrait){
  h1{
    font-size: 100px;
  }
  body{
    background-color: #ffffff;
  }
  .closebtn{
    font-size: 100px;
  }
  label{
    font-size: 60px;
  }
  form{
    margin-top: 500px;
    margin-left: 30px;
  }
  .register_btn{
    margin-top: 1600px;
  }
}
/*
  ##Device = 6plus pixel x (landscape)
  ##Screen = B/w 320px to 479px
*/
@media only screen
and (min-device-width: 730px)
and (max-device-width: 896px)
and (orientation : landscape){
  h1{
    font-size: 100px;
  }
  body{
    background-color: #ffffff;
  }
  .div1{
    width: 100%;

  }
  .closebtn{
    font-size: 100px;
  }
  .icon{
    margin-top: 300px;
    font-size: 200px;
  }
  label{
    font-size: 50px;
  }
  form{
    width: 600px;
    margin-top: 350px;
  }
  .form-control{
    font-size: 50px;
  }
  .register_btn{
    font-size: 50px;
    margin-top: 1150px;
  }
}
/*Old apple phone 5s 6 gs5 landscape */
@media only screen
and (min-device-width : 568px)
and (max-device-width : 667px)
and (orientation : landscape){
  body{
    background-color: #ffffff;
  }
  .div1{
    width: 100%;
  }
  .closebtn{
    font-size: 50px;
  }
  h1{
    font-size: 80px;
  }
  .icon{
    margin-top: 60px;
    font-size: 220px;
  }
  label{
    font-size: 70px;
  }
  .form-control{
    font-size: 70px;
  }
  .register_btn{
    font-size: 70px;
    margin-top: 1400px;
  }
}
/*Old apple phone 5s 6 gs5 protrait */
@media only screen
and (min-device-width : 240px)
and (max-device-width : 375px)
and (orientation : portrait){
  body{
    background-color: #ffffff;
  }
  h1{
    font-size: 100px;
  }
  .closebtn{
    font-size: 100px;
  }
  .icon{
    margin-top: 150px;
    font-size: 220px;
  }
  form{
    margin-top: 650px;
    margin-left: 30px;
  }
  label{
    font-size: 60px;
  }
  .form-control{
    font-size: 70px;
  }
  .register_btn{
    font-size: 60px;
    margin-top: 1650px;
  }
}



